<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="style.css" rel="stylesheet"><!--EXTERNAL CSS FILE-->

    <title>Personal Information</title>
</head>
<body>
    <header>
        <nav>
            <a href="my-first-webpage.html" >My First Webpage</a>
            <a href="deped.html" >DepEd Mission & Vision</a>
            <a href="monthly-calendar.html" >Monthly Calendar</a>
            <a href="movie-survey.html">Movie Survey</a>
            <a href="personal-information.html" class="active">Personal Information</a>
        </nav>
    </header>
</body>
</html>